<div class="body2">
    <div class="teacher">
        <div class="main">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img
                            src="https://www.anhngumshoa.com/uploads/images/resize/300x300/anhvi%E1%BA%BFtb%C3%A0i/thang_11/a1625-thumbnail.gif">
                    </div>
                    <div class="col-8" style="margin-right: -50px;">
                        <h6>
                            A1625: Em "đổ" cái cách dạy "lầy lội" của thầy Minh Đồng mất rồi, phải làm sao đây?
                        </h6>
                        <span>
                            Câu nói quen thuộc mà thầy vẫn luôn hỏi cả lớp A1625 là "Thầy có handsome không?". Thoắt
                            cái đã hết thời gian học cùng nhau, vậy là chúng em sẽ không còn được nghe câu hỏi mang
                            tính "tự sướng" đó nữa...Buồn lắm thầy ơi!
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img
                            src="https://www.anhngumshoa.com/uploads/images/resize/300x300/anhvi%E1%BA%BFtb%C3%A0i/thang_10/a222-thumbnails.gif">
                    </div>
                    <div class="col-8">
                        <h6>
                            A222+: Chỉ sau 2 tháng học cùng thầy, kiến thức của em đã vững lên rất nhiều!
                        </h6>
                        <span>
                            "We never want to stop making memories with you, Mr Tường..."
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img
                            src="https://www.anhngumshoa.com/uploads/images/resize/300x300/anhvi%E1%BA%BFtb%C3%A0i/thang_10/b590-thumbnails.gif">
                    </div>
                    <div class="col-8">
                        <h6>
                            B590: Em mong trung tâm sẽ có nhiều “thầy Vinh” hơn để buổi học nào cũng thật thú vị
                        </h6>
                        <span>
                            Ngày em biết mình đem lòng yêu Trung tâm Anh ngữ Ms Hoa, bầu trời xanh một màu xanh rất
                            khác…:)))))
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img
                            src="https://www.anhngumshoa.com/uploads/images/resize/300x300/new_folder_81792_1548088973/2412mota.jpg">
                    </div>
                    <div class="col-8">
                        <h6>
                            PRE 2412: Lúc học hết mình, lúc về nhớ thầy!
                        </h6>
                        <span>
                            Đó giờ em chưa bao giờ học giáo viên nào có cách truyền đạt "độc và lạ" như thầy Minh
                            Đồng :)))
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img
                            src="https://www.anhngumshoa.com/uploads/images/resize/300x300/new_folder_81792_1548088973/mota.jpg">
                    </div>
                    <div class="col-8">
                        <h6>
                            Pre 2415: Em muốn tiếp tục học thầy Thành khóa A, B và cao hơn thế nữa...
                        </h6>
                        <span>
                            Mấy ai là kẻ không thầy Thế gian thường nói, không thầy sao nên?
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img
                            src="https://www.anhngumshoa.com/uploads/images/resize/300x300/new_folder_81792_1548088973/237mota.jpg">
                    </div>
                    <div class="col-8">
                        <h6>
                            A+ 237: Em muốn tiếp tục học thầy Thành cute siêu cấp vũ trụ
                        </h6>
                        <span>
                            Thời gian qua đi, mọi thứ sẽ đều thay đổi. Duy chỉ có tình cảm, tấm lòng của lớp A+237
                            dành cho thầy Minh Thành là không bao giờ đổi thay...
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img
                            src="https://www.anhngumshoa.com/uploads/images/resize/300x300/new_folder_81792_1548088973/129mota.jpg">
                    </div>
                    <div class="col-8">
                        <h6>
                            D129: Sau 12 buổi học của lớp luyện đề, em đã tự tin “cắp sách” bước vào phòng thi rồi!
                        </h6>
                        <span>
                            Nhờ cô Hà hướng dẫn cách học từ vựng cực bổ ích mà em đã cải thiện được về kỹ năng học
                            ngoại ngữ của mình.
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img
                            src="https://www.anhngumshoa.com/uploads/images/resize/300x300/new_folder_81792_1548088973/595mota.jpg">
                    </div>
                    <div class="col-8">
                        <h6>
                            B595 - Thầy Nhiên ơi, thầy làm em ngày càng “nghiện” học tiếng Anh rồi, phải làm sao
                            đây?
                        </h6>
                        <span>
                            Mong tất cả các bạn đều đạt điểm cao như mong muốn trong kỳ thi sắp tới để không phụ tấm
                            lòng tận tụy, tâm huyết của thầy Nhiên...
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img
                            src="https://www.anhngumshoa.com/uploads/images/resize/300x300/new_folder_81792_1548088973/mota2426.jpg">
                    </div>
                    <div class="col-8">
                        <h6>
                            PRE 2426: Cảm ơn sự xinh đẹp của cô Tuyết Nhi đã làm động lực cho em mỗi ngày
                        </h6>
                        <span>
                            Ôi 2 tháng học với cô Nhi sao mà qua nhanh thế...Có lúc, em lại ước thời gian trôi chậm
                            lại để níu giữ những giây phút được nghe cô giảng bài...
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
        </div>
    </div>

</div>
