<div class="body2">
    <div class="teacher">
        <div class="main">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img src="https://www.anhngumshoa.com/uploads/images/resize/300x300/thumbnail_mai_ngan_1.jpg">
                    </div>
                    <div class="col-8" style="margin-right: -50px;">
                        <h6>
                            A1625: Em "đổ" cái cách dạy "lầy lội" của thầy Minh Đồng mất rồi, phải làm sao đây?
                        </h6>
                        <span>
                            Câu nói quen thuộc mà thầy vẫn luôn hỏi cả lớp A1625 là "Thầy có handsome không?". Thoắt
                            cái đã hết thời gian học cùng nhau, vậy là chúng em sẽ không còn được nghe câu hỏi mang
                            tính "tự sướng" đó nữa...Buồn lắm thầy ơi!
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img src="https://www.anhngumshoa.com/uploads/images/resize/300x300/thumbnail_mai_ngan.jpg">
                    </div>
                    <div class="col-8">
                        <h6>
                            A222+: Chỉ sau 2 tháng học cùng thầy, kiến thức của em đã vững lên rất nhiều!
                        </h6>
                        <span>
                            "We never want to stop making memories with you, Mr Tường..."
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img src="https://www.anhngumshoa.com/uploads/images/resize/300x300/huynh_dang_khanh_ngoc.png">
                    </div>
                    <div class="col-8">
                        <h6>
                            B590: Em mong trung tâm sẽ có nhiều “thầy Vinh” hơn để buổi học nào cũng thật thú vị
                        </h6>
                        <span>
                            Ngày em biết mình đem lòng yêu Trung tâm Anh ngữ Ms Hoa, bầu trời xanh một màu xanh rất
                            khác…:)))))
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img src="https://www.anhngumshoa.com/uploads/images/resize/300x300/thumbnail_ut_linh_1.jpg">
                    </div>
                    <div class="col-8">
                        <h6>
                            PRE 2412: Lúc học hết mình, lúc về nhớ thầy!
                        </h6>
                        <span>
                            Đó giờ em chưa bao giờ học giáo viên nào có cách truyền đạt "độc và lạ" như thầy Minh
                            Đồng :)))
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img
                            src="https://www.anhngumshoa.com/uploads/images/resize/300x300/thumbnail_dinh_luong_quynh_anh_1.png">
                    </div>
                    <div class="col-8">
                        <h6>
                            Pre 2415: Em muốn tiếp tục học thầy Thành khóa A, B và cao hơn thế nữa...
                        </h6>
                        <span>
                            Mấy ai là kẻ không thầy Thế gian thường nói, không thầy sao nên?
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img
                            src="https://www.anhngumshoa.com/uploads/images/resize/300x300/thumbnail_tran_thi_ha_giang.png">
                    </div>
                    <div class="col-8">
                        <h6>
                            A+ 237: Em muốn tiếp tục học thầy Thành cute siêu cấp vũ trụ
                        </h6>
                        <span>
                            Thời gian qua đi, mọi thứ sẽ đều thay đổi. Duy chỉ có tình cảm, tấm lòng của lớp A+237
                            dành cho thầy Minh Thành là không bao giờ đổi thay...
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img
                            src="https://www.anhngumshoa.com/uploads/images/resize/300x300/thumbnail_do_dang_song_minh.png">
                    </div>
                    <div class="col-8">
                        <h6>
                            D129: Sau 12 buổi học của lớp luyện đề, em đã tự tin “cắp sách” bước vào phòng thi rồi!
                        </h6>
                        <span>
                            Nhờ cô Hà hướng dẫn cách học từ vựng cực bổ ích mà em đã cải thiện được về kỹ năng học
                            ngoại ngữ của mình.
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img src="https://www.anhngumshoa.com/uploads/images/resize/300x300/nguyen_do_anh_khoa.png">
                    </div>
                    <div class="col-8">
                        <h6>
                            B595 - Thầy Nhiên ơi, thầy làm em ngày càng “nghiện” học tiếng Anh rồi, phải làm sao
                            đây?
                        </h6>
                        <span>
                            Mong tất cả các bạn đều đạt điểm cao như mong muốn trong kỳ thi sắp tới để không phụ tấm
                            lòng tận tụy, tâm huyết của thầy Nhiên...
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img src="https://www.anhngumshoa.com/uploads/images/resize/300x300/thumbnail_quynh_dao_1.png">
                    </div>
                    <div class="col-8">
                        <h6>
                            PRE 2426: Cảm ơn sự xinh đẹp của cô Tuyết Nhi đã làm động lực cho em mỗi ngày
                        </h6>
                        <span>
                            Ôi 2 tháng học với cô Nhi sao mà qua nhanh thế...Có lúc, em lại ước thời gian trôi chậm
                            lại để níu giữ những giây phút được nghe cô giảng bài...
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img src="https://www.anhngumshoa.com/uploads/images/resize/300x300/thumbnail_quynh_dao.jpg">
                    </div>
                    <div class="col-8">
                        <h6>
                            Cô gái 10x đạt 845 điểm TOEIC chia sẻ bí kíp học tiếng Anh hiệu quả
                        </h6>
                        <span>
                            Nguyễn Võ Quỳnh Dao là cô gái 10x đã xuất sắc đạt 845 điểm TOEIC chỉ sau 1 khóa học tại Ms
                            Hoa TOEIC. Cùng lắng nghe những chia sẻ của bạn về bí kíp học tiếng Anh hiệu quả trong bài
                            viết dưới đây!
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>


            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img src="https://www.anhngumshoa.com/uploads/images/resize/300x300/mai_xuan_thang.png">
                    </div>
                    <div class="col-8">
                        <h6>
                            CHÀNG TRAI 9X BẬT MÍ CÁCH ĐẠT 805 ĐIỂM TOEIC CHO NGƯỜI MỚI BẮT ĐẦU
                        </h6>
                        <span>
                            Mai Xuân Thắng chàng trai sinh năm 1997 đã xuất sắc đạt 805 điểm TOEIC dù kỳ vọng chỉ 650
                            điểm. Hãy cùng xem Thắng đã ôn luyện như nào để đạt thành tích như vậy nhé!
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img
                            src="https://www.anhngumshoa.com/uploads/images/resize/300x300/thumbnail_ngo_le_phuong_nhi.jpg">
                    </div>
                    <div class="col-8">
                        <h6>
                            Kinh nghiệm chinh phục TOEIC 4 KỸ NĂNG từ cao thủ đạt điểm tuyệt đối SPEAKING
                        </h6>
                        <span>
                            Phương Nhi gây ấn tượng cực mạnh trong cộng đồng học viên TOEIC với kết quả: 970 điểm
                            Listening + Reading, 390 điểm Speaking + Writing, đặc biệt cô nàng đã xuất sắc đạt điểm
                            tuyệt đối trong phần thi Speaking. Cùng Phương Nhi khám phá kỳ thi TOEIC 4 kỹ năng nhé!
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img
                            src="https://www.anhngumshoa.com/uploads/images/resize/300x300/thumbnail_phan_thuy_quynh.jpg">
                    </div>
                    <div class="col-8">
                        <h6>
                            HÀNH TRÌNH ĐẠT 815 ĐIỂM TOEIC CỦA CÔ GÁI ĐAM MÊ NETFLIX
                        </h6>
                        <span>
                            Phan Thúy Quỳnh - Học viên khóa B tại Ms Hoa TOEIC từng duy trì thói quen học tiếng Anh qua
                            phim ảnh. Cùng lắng nghe những chia sẻ của cô bạn về hành trình đạt 815 TOEIC nhé!
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img
                            src="https://www.anhngumshoa.com/uploads/images/resize/300x300/thumbnail_dinh_luong_quynh_anh.png">
                    </div>
                    <div class="col-8">
                        <h6>
                            Bỏ túi kinh nghiệm luyện thi từ cao thủ đạt 860 TOEIC
                        </h6>
                        <span>
                            Sau khi theo học tại ECM, Quỳnh Anh (22 tuổi, TP. HCM) đã được tiếp thu nhiều
                            phương pháp học và thi TOEIC hiệu quả. Cùng sự nỗ lực của bản thân, bạn đã xuất sắc đạt 860
                            điểm TOEIC và tới gần hơn những cơ hội trong tương lai.
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4">
                        <img
                            src="https://www.anhngumshoa.com/uploads/images/resize/300x300/thumbnail_dang_nhu_quynh.png">
                    </div>
                    <div class="col-8">
                        <h6>
                            905 TOEIC TRONG TẦM TAY KHI CÓ LỘ TRÌNH HỌC RÕ RÀNG
                        </h6>
                        <span>
                            Như Quỳnh (25 tuổi, TP. HCM) đã xuất sắc đạt mục tiêu 900+ TOEIC sau khi theo học 4 khóa tại
                            Anh ngữ Ms Hoa. Cùng lắng nghe những kinh nghiệm học và thi của bạn nhé!
                        </span>
                    </div>
                </div>
            </div>
            <div class="space">
            </div>
        </div>
    </div>

</div>