.sales-boxes ag-grid-angular{
    margin-left: 10%;
    width: 75%; 
    height: 600px
}

.space {
    width: 10px;
    height: auto;
    display: inline-block;
  }

.teacher{
    margin-top: 20px; 
    margin-left: 5%;
}