@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

::ng-deep .academy-container {
  body {
    font-family: "Trebuchet MS", sans-serif;
  }

  #navbarSupportedContent {
    margin-left: 5%;
  }

  #navbarSupportedContent img {
    width: 100px;
    height: 36px;
  }

  #navbarSupportedContent .navbar-nav button {
    background-color: #ffffff;
    border-radius: 20px;
  }

  .nav-item {
    padding: 8px;
  }

  #navbarSupportedContent .navbar-nav .form-inline .form-control {
    border-radius: 20px;
  }

  #navbarSupportedContent .signin-signup {
    margin-right: 10%;
  }

  #navbarSupportedContent .btn-light {
    background-color: #ffeaed;
  }

  #menuContainer {
    height: 50px;
    background-color: white;
  }

  #menuContainer .navbar-nav {
    margin-left: 300px;
  }

  #menuContainer .navbar-nav .sub-title {
    margin-top: 12px;
  }

  .sub-title a {
    text-decoration: none;
    color: #212529;
    padding: 0 20px;
  }

  .banner img {
    width: 100%;
    height: 600px;
  }

  .contentGalery {
    text-align: center;
    margin-top: 20px;
  }

  .contentGalery ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    width: 107%;
  }

  .contentGalery img {
    width: 100%;
    height: 100px;
    border-radius: 5px;
  }

  .contentGalery li {
    background-color: white;
    margin-top: 5px;
    padding: 30px;
    display: inline-block;
    width: 20%;
    height: 400px;
    border-radius: 7px;
    box-shadow: 5px 5px 5px 5px black;
    margin-left: 2%;
  }

  .profile_1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
  }

  .profile_1 img {
    max-width: 30px;
    max-height: 30px;
  }

  .btn-group {
    margin-right: 150px;
  }

  .btn-group button {
    border-radius: 10%;
  }

  .footer-btn {
    margin-top: 200px;
  }

  .space {
    width: 10px;
    height: auto;
    display: inline-block;
  }

  a {
    text-decoration: none;
  }

  @media only screen and (min-width: 1024px) and (max-width: 1440px) {
    .nav-item {
      padding: 1px;
    }

    #navbarSupportedContent .navbar-nav {
      margin-left: 5px;
    }

    .navbar {
      margin-left: 5px;
    }

    #menuContainer .navbar-nav {
      margin-left: 100px;
    }

    .sub-title a {
      padding: 0 20px;
    }
  }

  @media only screen and (min-width: 990px) and (max-width: 1040px) {
    .signin-signup .btn-light {
      display: none;
    }

    #menuContainer .navbar-nav {
      margin-left: 100px;
    }

    .sub-title a {
      padding: 0 20px;
    }
  }

  @media only screen and (max-width: 990px) {
    #menuContainer .navbar-nav {
      margin-left: 10px;
    }

    .sub-title a {
      padding: 0 20px;
    }

    #menuContainer {
      height: 70px;
    }

    .contentGalery li {
      background-color: white;
      margin-top: 5px;
      padding: 20px;
      display: inline-block;
      width: 60%;
      border-radius: 7px;
      box-shadow: 5px#722f31;
      margin-top: 20px;
    }

    .contentGalery img {
      text-align: center;
      width: 40%;
      height: 100px;
      border-radius: 5px;
    }
  }
}