<div class="but" style="width: fit-content; margin: auto; margin-top: 20px;">
    <button type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Update" (click)="openModal(update)"><i class="fas fa-user-edit"></i></button>
    <div class="space">
    </div>
    <!-- <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" (click)="openModal(delete)"><i class="fas fa-user-minus"></i></button> -->
</div>

<!-- <ng-template #delete>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Delete pending student</h4>
        <button class="btn-close" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true"></span>
        </button>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deletePending()">Delete</button>
        <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Close</button>
    </div>
</ng-template> -->


<ng-template #update>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Update pending student</h4>
        <button class="btn-close" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true"></span>
        </button>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="updatePending()">Update</button>
        <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Close</button>
    </div>
</ng-template>