<div class="sidebar-container">
  <div class="sidebar-head">
    <img src="https://www.pngrepo.com/png/353396/180/angular-icon.png" />
    <div class="sidebar-name">
      <div>AlphaCode</div>
      <div>Web developer</div>
    </div>
  </div>
  <ul class="sidebar-menus">
    <li
      class=""
      *ngFor="let menu of menus"
      routerLinkActive="active"
      [matTooltip]="menu.menu"
      [matTooltipDisabled]="!showingTooltip"
      matTooltipPosition="right"
    >
      <a [routerLink]="menu.link ?? null" (click)="menu.onClick?.()">
        <fa-icon class="icon" [icon]="menu.icon"></fa-icon>
        <span>{{ menu.menu }}</span>
      </a>
    </li>
  </ul>
</div>
