<div class="but" style="width: fit-content; margin: auto; margin-top: 20px;">
    <button type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Update"
        (click)="openModal(update)"><i class="fas fa-user-edit"></i></button>
    <div class="space">
    </div>
    <!-- <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" (click)="openModalDelete(delete)"><i class="fas fa-user-minus"></i></button> -->
</div>

<ng-template #delete>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Xóa sự kiện</h4>
        <!-- <button class="btn-close" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true"></span>
        </button> -->
    </div>

    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-danger" (click)="deleteTeacher()">Xóa</button>
        <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Đóng</button> -->
    </div>
</ng-template>


<ng-template #update>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Cập nhật sự kiện</h4>
        <button class="btn-close" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true"></span>
        </button>
    </div>
    <div class="modal-body">
        <b for="message-text" class="col-form-label">Sự kiện:</b>
        <input type="text" [(ngModel)]="params.data.name" class="form-control">
        <b for="message-text" class="col-form-label">Ảnh:</b>
        <input type="file" (change)="onChange($event)" class="form-control">
        <br>
        <div *ngIf="params.data.image">
            <img [src]="params.data.image" width="50px" height="100px">
        </div>
        <div *ngIf="imageUrl">
            <img [src]="imageUrl" width="50px" height="100px">
        </div>
        <br>
        <b for="message-text" class="col-form-label">Ngày bắt đầu:</b>
        <input type="date" [(ngModel)]="start_date" class="form-control">
        <b for="message-text" class="col-form-label">Ngày kết thúc:</b>
        <input type="date" [(ngModel)]="end_date" class="form-control">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="updateEvent()">Cập nhật</button>
        <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Đóng</button>
    </div>
</ng-template>