<sidebar [menus]="menus"></sidebar>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <span class="logo_name">English Center Management</span>
        </div>
        <div class="profile-details" *ngIf="userProfile">
            <img src="https://www.pngfind.com/pngs/m/610-6104451_image-placeholder-png-user-profile-placeholder-image-png.png">
            <span class="admin_name">{{ userProfile.username }}</span>
            <i class="bx bx-chevron-down"></i>
            <button type="button" (click)="openChange(changePassword)" class="btn btn-danger">Cài đặt</button>
        </div>
    </nav>
    <router-outlet></router-outlet>
</section>

<div class="home-content">
    <div class="overview-boxes">
        <div class="box">
            <div class="left-side">
                <div class="box_topic"></div>
            </div>
        </div>
    </div>
</div>

<ng-template #changePassword>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Thay đổi mật khẩu</h4>
      <button class="btn-close" aria-label="Close" (click)="modalRef?.hide()"></button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="username">Mật khẩu cũ</label>
        <input autocomplete="off" [(ngModel)]="old_password" required  type="password" class="form-control mt-1" id="username" placeholder="Old password">
      </div>
      <div class="form-group mt-3">
        <label for="password">Mật khẩu mới</label>
        <input autocomplete="off" [(ngModel)]="new_password" required type="password" class="form-control mt-1" id="password" placeholder="New password">
      </div>
      <div class="form-group mt-3">
        <label for="name">Nhập lại mật khẩu mới</label>
        <input autocomplete="off" [(ngModel)]="re_new_password" required type="password" class="form-control mt-1" id="password" placeholder="Re-New password">
      </div>
      <button *ngIf="new_password === re_new_password && new_password && re_new_password" type="submit" class="btn btn-primary mt-3"  (click)="onChangePassword()">Thay đổi</button>
    </div>
</ng-template>