.pagination {
  display: flex;
  gap: 20px;
  margin-left: 60%;
  margin-top: 10px;
}

.link-active {
  color: blue;
}

.link-normal {
  color: red;
}

.pagination a {
  text-decoration: none;
  padding: 2%;
}

.pagination .active {
  border-radius: 5px;
  width: 5%;
  height: 5%;
  background-color: orange;
}

nav .search-box {
  height: 50px;
  width: 550px;
  margin: 0 20px;
  position: relative;
  margin-left: 30%;
}


nav .search-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  padding: 0 15px;
  font-size: 17px;
  background: white;
  border: 2px solid #EFEEF1;
  outline: none;
}

nav .search-box .bx-search {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  background: #2697FF;
  border-radius: 6px;
  color: #fff;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
}

.btn-add {
  width: fit-content;
  margin: auto;
  margin-left: 90%;
  margin-top: 20px;
}

.btn-add button {
  width: 100%;
  height: 50px;
}

.sales-boxes ag-grid-angular {
  margin-left: 2%;
  width: 96%;
  height: 410px
}

.space {
  width: 10px;
  height: auto;
  display: inline-block;
}

.btncss {
  color: red !important;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 10%;
}

td,
th {
  border: 1px solid white;
  text-align: left;
  padding: 8px;
}

tr td {
  background-color: white;
}

.floatLeft {
  width: 12%;
  float: left;
}

// table{
//   width: 12%;
//   float: left;
// }

.include {
  width: 95%;
  margin-top: 100px;
}

th {
  background-color: #6b90da;
  height: 70px;
  font-weight: normal;
}

td {
  height: 70px;
  margin-left: 60px;
}

table {
  width: 100%;
  margin-left: 15%;
}

.class-name {
  color: green;
  font-weight: bold;
}

span {
  // font-weight: 20;
  color: red;
}

@media only screen and (max-width: 700px) {
  .include{
    width: 150%;
  }
  
  // .floatLefthead{
  //   width: 20%;
  // }
}